main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-link{
    width: fit-content;
}

.logo{
    width: 100%;
    transition: transform .7s ease;
}

.logo:hover{
    transform: rotate(90deg);
}
