@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --laranja:#FF6B2D;
    --laranja-hover:#e4591d;
    --verde:#222315;
    --branco:#ffffff;
    --branco-hover:#bbbbbb;
    --scale:1;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* MENU NAVBAR */
.navbar{
    font-family: 'Montserrat', sans-serif;
    height: calc(100px * var(--scale));
    width: 100%;
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-button{
    background: none;
    border: none;
    display: flex;
    height: calc(40px * var(--scale));
    width: calc(40px * var(--scale));
    margin-right: 3vw;
    justify-content: center;
    align-items: center;
    border-radius: calc(2px * var(--scale));
}

.register-button:hover{
    cursor: pointer;
}

#register-icon:hover{
    transform: scale(1.05);
}

#register-icon{
    height: calc(40px * var(--scale));
    width: calc(40px * var(--scale));
}

.logo{
    display: inline-block;
    height: calc(120px * var(--scale));
    width: calc(215px * var(--scale));
    margin-left: 2vw;
}

.pages{
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
}

.pages a{
    position: relative;
    color: var(--laranja);
    text-decoration: none;
    font-size: calc(22px * var(--scale));
    padding: calc(22px * var(--scale)) calc(29px * var(--scale));
    font-weight:600;
}

.pages a::after{
    content:"";
    position:absolute;
    left:calc(29px * var(--scale));
    bottom:calc(16px * var(--scale));
    width:0%;
    height:calc(4px * var(--scale));
    background:var(--laranja);
    transition: width 1s ease;
}

.pages a:hover::after{
    width:calc(100% - (58px * var(--scale)));
}

#active::after{
    width:calc(100% - (58px * var(--scale)));
}

/* FOOTER */

footer{
    width: 100%;
    height: calc(365px * var(--scale));
    position: relative;
    bottom: 0;
    background-color: var(--verde);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 80px;
}

.logo-footer{
    width: calc(200px * var(--scale));;
}

.footer-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: calc(60px * var(--scale));
}

.newsletter{
    width: calc(325px * var(--scale));
}

.contrast{
    color: var(--laranja);
}

.newsletter p{
    width: 60%;
    font-weight: 300;
    margin: -5px 0 15px 0;
    color: var(--branco);
    font-size: calc(11px * var(--scale));
}

.newsletter h3{
    font-weight: 800;
    color: var(--branco);
}

.footer-button{
    border: none;
    background-color: var(--laranja);
    border-radius: 4px;
    color: var(--branco);
    height: calc(10px * var(--scale));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-button:hover{
    background-color: var(--laranja-hover);
    transition: 0.3s ease;
}

.footer-button img{
    height: 15px;
}

.footer-button span{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(11px * var(--scale));
}

.departaments h3{
    font-weight: 800;
}

.departaments li{
    list-style: none;
    margin-left: -40px;
    margin-bottom: 10px;
    font-size:calc(13px * var(--scale));
    font-weight: 600;
}

.departaments a{
    text-decoration: none;
    color: var(--branco);
}

.departaments a:hover{
    color: var(--branco-hover);
}

.contact-us{
    width: calc(300px * var(--scale));
}

.contact-us h3{
    font-weight: 800;
}

.contact-us p{
    font-weight: 300;
    margin: -5px 0 15px 0;
    color: var(--branco);
    font-size: calc(11px * var(--scale));
}

.contact-us button{
    margin-bottom: calc(10px * var(--scale));
}

.payment-methods{
     width: calc(260px * var(--scale));
}

footer hr{
    width: 80%;
    border: 1px solid var(--laranja);
    margin-top: calc(20px * var(--scale));
}

.footer-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.footer-bottom p{
    margin: 4px 0;
}